@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Press+Start+2P&display=swap');

.navbar {
    background-color: #000000 !important;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid transparent;
    margin-top: 10px; /* Добавлен отступ сверху */
}

.navbar::after {
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(to right, transparent, #555, transparent);
}

.navbar-brand {
    color: #4B0082 !important;
    font-family: 'Press Start 2P', cursive;
    font-size: 12pt;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: #ffffff !important;
    padding: 0.5rem 0.75rem;
    line-height: 1.5;
}

.navbar-nav .nav-link:hover {
    color: #cccccc !important;
}

.btn-purple {
    background-color: #4B0082 !important;
    color: #FFFFFF !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    padding: 6px 14px;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-purple a {
    color: #ffffff !important;
    text-decoration: none;
}

.btn-purple a:hover {
    color: #dddddd !important;
}

/* Dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #111;
    border: 1px solid #4B0082;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    background-color: #111;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #4B0082;
}
